* {
  box-sizing: border-box;
  text-align: center;
  border: 1px black solid;
}

html,
body {
  width: 100vw;
  margin: 0;
}

header {
  height: 200px;
  width: 100vw;
}

footer {
  height: 200px;
  width: 100vw;
  clear: both;
  bottom: 0;
}

div {
  height: 600px;
  width: 100vw;
}

nav {
  width: 20%;
  height: 100%;
  float: left;
}

article {
  height: 100%;
  width: 20%;
  float: left;
}

aside {
  height: 100%;
  width: 20%;
  float: left;
}

section {
  height: 100%;
  width: 20%;
  float: left;
}

@media all and (max-width: 420px) {
  nav,
  article,
  aside,
  section {
    float: none;
    width: auto;
  }
}
