/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: Arial, Helvetica, sans-serif;
}

section,
figure {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

p,
h1,
h2,
h3,
span {
  width: 90%;
  padding: 0% 5%;
}

h2 {
  line-height: 5vh;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 5vh;
  background: black;
  color: white;
}

nav * {
  float: left;
  width: 10%;
  color: white;
  display: block;
}

nav > a,
nav > form,
nav > input {
  padding: 1% 2%;
}

nav ul {
  width: 50%;
}

nav img {
  height: 5vh;
  width: auto;
}

nav form {
  vertical-align: middle;
  line-height: 5vh;
}

nav form input {
  width: 100%;
}

main > h2 {
  float: left;
  width: auto;
  height: 5vh;
  text-align: left;
}

.date {
  float: right;
  color: gray;
  text-align: right;
}

main > figure,
main > section {
  float: left;
  height: 90vh;
  padding: 5%;
  margin: 1%;
  width: 90%;
}

main section section {
  width: 50%;
  height: 45vh;
  float: left;
}

aside {
  width: 90%;
  float: left;
  padding: 5% 0;
  margin: 5%;
}

aside > section {
  width: 33%;
  float: left;
  padding: 1em;
  color: #000;
}

body > main > figure {
  background-image: url(/class08-materials/layout3/groudon.jpeg);
  margin: 5%;
  width: 90%;
  background-size: cover;
}

main > h2 {
  padding: 0.25em;
  margin: 0.25em;
}

form {
  float: right;
  margin: 0 3em 0 0;
}

/******************************************
/* MODULES
/*******************************************/
.machamp {
  background-image: url(/class08-materials/layout3/machamp.jpeg);
  padding: 1em;
  background-size: cover;
}

.pokerus {
  background-image: url(/class08-materials/layout3/pokerus.webp);
  background-size: cover;
}

.jiggly {
  background-image: url(/class08-materials/layout3/jiggly.jpeg);
  background-size: cover;
}

.johto {
  background-image: url(/class08-materials/layout3/johto.jpeg);
  background-size: cover;
}

.pikastudy {
  width: 100%;
  height: auto;
}

/******************************************
/* ALTERNATE STYLES
/*******************************************/
/* 
@media (max-width: 1400px) {
  ul {
    display: none;
  }
  main > h2 {
    padding: 0.25em 5%;
    margin: 0;
  }
}


*/

/******************************************
/* THEMES
/*******************************************/
