/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: Arial, Helvetica, sans-serif;
}

section,
figure {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

p,
h1,
h2,
h3,
span {
  width: 90%;
  padding: 0% 5%;
}

h2 {
  line-height: 5vh;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Header & Nav */

header {
  height: 5vh;
  background: black;
  color: white;
}

nav * {
  float: left;
  width: 10%;
  color: white;
  display: block;
}

nav > a,
nav > form,
nav > input {
  padding: 1% 2%;
}

nav ul {
  width: 50%;
}

nav img {
  height: 5vh;
  width: auto;
}

nav form {
  vertical-align: middle;
  line-height: 5vh;
  float: right;
  margin: 0 3em 0 0;
}

nav form input {
  width: 100%;
}

/* Welcome & Date */

main > h2 {
  float: left;
  width: auto;
  height: 5vh;
  text-align: left;
}

.date {
  float: right;
  color: gray;
  width: auto;
  height: 5vh;
  text-align: right;
}

/* Main Box Positioning */

main > figure,
main > section {
  float: left;
  height: 90vh;
}

body > main > section {
  padding: 1%;
  margin: 1%;
  float: left;
  width: 46%;
}

body > main > figure {
  background-image: url(/class08-materials/layout3/groudon.jpeg);
  margin: 1%;
  padding: 1%;
  width: 46%;
  background-size: cover;
}

main section section {
  width: 50%;
  height: 45vh;
  float: left;
}

aside {
  width: 96%;
  float: left;
  padding: 1% 0;
  margin: 1%;
  text-shadow: none;
  font-family: Arial, Helvetica, sans-serif "Lucida Sans", Arial, sans-serif;
}

/* Content Positioning */

aside > section {
  width: 33%;
  float: left;
  padding: 1em;
  color: #000;
}

/******************************************
/* MODULES
/*******************************************/

/* Content Boxes  - Section */
.machamp {
  background-image: url(/class08-materials/layout3/machamp.jpeg);
  background-size: cover;
}

.pokerus {
  background-image: url(/class08-materials/layout3/pokerus.webp);
  background-size: cover;
}

.jiggly {
  background-image: url(/class08-materials/layout3/jiggly.jpeg);
  background-size: cover;
}

.johto {
  background-image: url(/class08-materials/layout3/johto.jpeg);
  background-size: cover;
}

/* Content Boxes - Aside */

.pikastudy {
  width: 100%;
  height: auto;
}

/******************************************
/* ALTERNATE STYLES
/*******************************************/

@media (min-width: 1281px) and (max-width: 1921px) {
  body > main > figure {
    width: 96%;
  }
  body > main > section {
    width: 96%;
  }
  body > main > section > section {
    width: 50%;
    background-image: contain;
  }

  body > main > aside {
    width: 100%;
  }
  aside section {
    width: 30%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  body > main > figure {
    width: 96%;
    height: 40vh;
  }
  body > main > section {
    width: 96%;
  }
  body > main > section > section {
    width: 50%;
  }

  nav > ul {
    display: none;
  }

  body > main > aside {
    width: 100%;
  }
  aside section {
    width: 96%;
  }
}

@media (max-width: 1024px) {
  body > main > figure {
    width: 96%;
    float: left;
    height: 40vh;
  }
  body > main > section {
    width: 96%;
    float: left;
  }
  body > main > section > section {
    width: 96%;
  }

  nav > ul {
    display: none;
  }

  body > main > aside {
    width: 96%;
  }
  aside section {
    width: 96%;
  }
}
@media (max-width: 640px) {
  body > main > section > section {
    width: 96%;
    height: 35vh;
  }
  .bbc {
    display: none;
  }
  .date {
    width: 96%;
    text-align: center;
  }
}
/******************************************
/* THEMES
/*******************************************/
