/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0 auto;
  border: solid 1px red;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-family: "Roboto", sans-serif;
}

a:link {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header {
  font-size: 1.6em;
  font-weight: 700;
}

header,
.intro,
.features,
.desktop-pic,
header > section,
header > span {
  background-color: #f5f9fc;
  color: #34485a;
}

.features {
  background-color: #f5f9fc;
  color: #34485a;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Header */

header {
  width: 100%;
  height: 10vh;
}

header > span {
  float: left;
  width: 25%;
  padding: 1.5em;
  height: 10vh;
}
nav {
  width: 50%;
  float: left;
  height: 10vh;
}

nav > ul > a {
  float: left;
  width: 25%;
  padding: 1.5em 2%;
}

header > section {
  width: 25%;
  height: 10vh;
  padding: 1.5em 10%;
  float: left;
}

.fa-list-tree {
  float: left;
  width: 25%;
}

/*  Main Section */

.main-section {
  height: 90vh;
  width: 100%;
}

.intro {
  width: 50%;
  float: left;
  height: 65vh;
  padding: 10%;
}

.desktop-pic {
  width: 50%;
  float: left;
  height: 65vh;
  position: relative;
  overflow: hidden;
}

.desktop-pic > img {
  width: 100%;
  height: 65vh;
  object-fit: contain;
  position: absolute;
}

form,
input {
  width: 50%;
  float: left;
}

.features {
  width: 100%;
  float: left;
  height: 25vh;
}

.feature {
  width: 25%;
  float: left;
  padding: 0.5% 1% 1% 1%;
}

i,
h3,
p {
  padding: 1%;
}

.info {
  height: 100vh;
  clear: both;
  padding: 10%;
}

.info > section > img {
  padding: 10% 10% 10% 30%;
  height: 70vh;
}

/* Footer */

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (max-width: 1920px) {
  .desktop-pic > img {
    width: auto;
    height: 100%;
    object-fit: contain;
    position: absolute;
  }

  .info > section > img {
    padding: 10% 10% 10% 20%;
    height: 70vh;
  }
}

@media (max-width: 1280px) {
  .info > section > img {
    padding: 10% 10% 10% 10%;
    height: auto;
    width: 100%;
  }

  .intro,
  .info {
    padding: 20% 10%;
  }

  .intro > input,
  .intro > form {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  header > section {
    width: 50%;
    float: right;
    padding: 3em 7em;
    height: 10vh;
  }

  header > span {
    padding: 2em 5em 4em 5em;
    width: 50%;
  }

  header > section {
    padding: 2em 5em 4em 5em;
    width: 50%;
  }

  nav {
    display: none;
  }

  .intro,
  .desktop-pic {
    width: 100%;
  }

  .features {
    height: 35vh;
  }

  .feature {
    width: 50%;
  }

  .intro,
  .info {
    padding: 40% 10%;
  }

  .intro > input,
  .intro > form {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .intro,
  .info {
    padding: 40% 10%;
  }

  nav {
    display: none;
  }
  header > span,
  header > section {
    width: 100%;
  }

  header > span {
    float: left;
  }

  header > .button {
    float: right;
  }

  .features {
    height: 70vh;
  }

  .feature {
    width: 100%;
  }
  .intro > input,
  .intro > form {
    width: 100%;
  }
}
