/* Please Make only Rhino and Zebra Blue */
.top {
  color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse {
  color: gold;
}
/* Please select Duck with the highest level of specificity possible */
section.middle article.areDucksDinosaurs h2.likesToQuack.fight1or100 {
  color: #000 !important;
}

/* Please select Rhino with the highest level of specificity possible */

body > h1 #hi > h1 section.top > h2 #rhino.africa.fourLegs {
  color: #000 !important;
}
